version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: urbania-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: UrbaniaConnective2
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
